<div>
    <mat-grid-list cols="1">
      <mat-grid-tile>
        <div class="w100">
          <mat-tab-group>
            <mat-tab label="Source">
              <ngx-json-viewer [json]="_data"></ngx-json-viewer>
            </mat-tab>
            <mat-tab label="Properties">
              <div>
                <mat-form-field>
                  <mat-label>Guides ({{guides.length}})</mat-label>
                  <mat-select [formControl]="_guides">
                    @for (guide of guides; track guides) {
                    <mat-option [value]="guide.apiName">{{ guide.displayName }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <div class="separator"></div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
